# DOC: type this in your terminal: 
# openssl rand -base64 32 
# and copy the output to SESSION_SECRET value
SESSION_SECRET=

# EXAMPLE: https:myapp.com or http://localhost:3000
BASE_URL=

# DOC: https://supabase.com/docs/guides/database/connecting-to-postgres
DATABASE_URL=

# DOC: https://redis.io/docs/latest/develop/clients/
REDIS_URL=


# HTTP HEADERS
ACCESS_CONTROL_ALLOW_CREDENTIALS="true"
ACCESS_CONTROL_ALLOW_ORIGIN="*"
ACCESS_CONTROL_ALLOW_METHODS="GET,OPTIONS,PATCH,DELETE,POST,PUT"
ACCESS_CONTROL_ALLOW_HEADERS="X-CSRF-Token, X-Requested-With, Accept, Accept-Version, Content-Length, Content-MD5, Content-Type, Date, X-Api-Version"
CONTENT_SECURITY_POLICY=frame-ancestors 'self'


# DOC: https://resend.com/
RESEND_API_KEY =
RESEND_DOMAIN=

# DOC: https://support.google.com/googleapi/answer/6158849
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=