# ==========================================
# SECURITY & SECRETS
# ==========================================
# DOC: type this in your terminal:
# openssl rand -base64 32
# and copy the output to SESSION_SECRET and CRON_SECRET values
SESSION_SECRET=
CRON_SECRET=

# ==========================================
# APP URL & CORS
# ==========================================
# EXAMPLE: https://myapp.com or http://localhost:3000
BASE_URL=http://localhost:3000
ACCESS_CONTROL_ALLOW_ORIGIN="*"

# ==========================================
# DATABASE (POSTGRESQL)
# ==========================================
# DOC: https://supabase.com/docs/guides/database/connecting-to-postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=nextjs_auth
DATABASE_URL=postgresql://postgres:secret@localhost:5432/nextjs_auth

# ==========================================
# REDIS (CACHE & RATE LIMITING)
# ==========================================
# DOC: https://redis.io/docs/latest/develop/clients/
REDIS_PASSWORD=secret
REDIS_URL=redis://default:secret@localhost:6379

# ==========================================
# EMAIL SERVICE (RESEND)
# ==========================================
# DOC: https://resend.com/
RESEND_API_KEY=
RESEND_DOMAIN=

# ==========================================
# GOOGLE OAUTH
# ==========================================
# DOC: https://support.google.com/googleapi/answer/6158849
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/providers/account/google/callback
GOOGLE_REDIRECT_URI_CONNECT=http://localhost:3000/api/auth/providers/connection/google/callback
